@import '../variables/fn.scss';

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  background-color: $bgColor;
  -webkit-tap-highlight-color: transparent
}

.font-0 {
  font-size: 0;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.v-center {
  vertical-align: middle;
}

.bg-page {
  background-color: $bgColor;
}

.bg-white {
  background-color: #fff;
}

.scroll {
  -webkit-overflow-scrolling: touch;
  // 会影响子元素weui-gallery不能铺满全屏
  // overflow: auto;
}

.hide {
  display: none;
  opacity: 0;
}
