@import '~weui/src/style/base/fn';

.weui-dialog {
  display: flex;
  flex-direction: column;

  .weui-dialog__hd {
    .weui-dialog__title {
      p {
        .ellipsis;
      }
    }
  }

  .weui-dialog__bd {
    flex: 1;
    overflow: auto;
    max-height: 100px;
  }

  .weui-dialog__ft {
    height: 64px;
  }
}
