@import '~weui/src/style/base/variable/weui-cell';

.m-rg-0 {
  margin-right: 0 !important;
}

// s => 5px
@gs: @weuiCellGapV/2;
// m => 10px
@gm: @weuiCellGapV;
// l => 15px
// xl => 20px
// xxl => 30px
// xxxl => 40px
@gxxxl: @weuiCellGapV*4;

.m-rg-s {
  margin-right: @gs;
}

.m-lt-s {
  margin-left: @gs;
}

.m-s {
  margin: @gs;
}

.p-r-m {
  padding-left: @gm;
  padding-right: @gm;
}

.m-tp-m {
  margin-top: @gm;
}

.m-rg-m {
  margin-right: @gm  !important;
}

.p-r-xxxl {
  padding-left: @gxxxl  !important;
  padding-right: @gxxxl  !important;
}
